<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.gradle.jokeviewer">

    <application
        android:allowBackup="false"
        android:launchMode="singleTop"
        android:label="@string/app_name">
        <activity
            android:name=".JokeViewerMainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
